/* google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Alegreya Sans', sans-serif;
}
a:visited { 
    text-decoration: none; 
    color: #2f2f2f; 
   }

:root{
  --text-color: #0584FE;
  --main-color: #2f2f2f;
}
section{
    padding: 170px 10%;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 5px 100px;
    background: #FBFBFB;
}
span{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}
.logo img{
    width: 200px;
}
.navbar{
    position: relative;
    display: flex;
}
.navbar a{
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--main-color);
}
.navbar a:hover{
  color: var(--text-color)
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.home {
    /* width: 100%;
    min-height: 100vh; */
    height: 65vh;
    background-image: url(/img/kensington_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.home-text{
    background: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    padding: 50px 30px;
    color: #2f2f2f;
}
.home-text h1{
    font-size: 3rem;
}
.home-text p{
    font-size: 1.75rem;
    margin: 0.4rem 0 1.8rem;
}
.home-text span{
    font-size: 3.7rem;
    text-transform: none;
    color: var(--main-color)
}

.btn{
    padding: 10px 14px;
    border: 1px solid var(--main-color);
    color: (--main-color);
    border-radius: 0.3rem;
    font-size: 1.5rem;
}
.btn:hover{
    background: rgba(5, 132, 254, 0.2);
    border: 2px solid var(--main-color); 
}
.btn1{
    padding: 10px 14px;
    border: 1px solid var(--main-color);
    color: (--main-color);
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
}
.btn1:hover{
    background: rgba(5, 132, 254, 0.2);
    border: 2px solid var(--main-color);
}
.about{
    padding: 30px;
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    gap: 1rem;
}
.about-text span{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
}
.about-text {
    /* padding-top: 300px; */
    text-align: center;
}
.about-text p{
    font-size: 1.25rem;
    margin: 1.5rem 0 2.4rem;
}
.services{
padding: 50px;
background: #FFFFFF;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    color: #2f2f2f;
}
.services-container img {
    width: 300px;
    height: 250px;
}
.heading{
    text-align: center;
}
.heading span {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
}
.partners{
    padding: 50px;
    background: #FFFFFF;
    }
.partners-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    color: #2f2f2f;
}
.partners-container img {
    width: 150px;
}
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  padding-left: 50px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.title {
    /* width: 100%;
    min-height: 100vh; */
    height: 40vh;
    background-image: url(/img/kensington_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
.title-text{
    background: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
    padding: 20px 30px;
    color: #2f2f2f;
}
.title-text h1{
    font-size: 3rem;
}
.title-text p{
    font-size: 1.75rem;
    margin: 0.4rem 0 1.8rem;
}
.title-text span{
    font-size: 3.7rem;
    text-transform: none;
    color: var(--main-color)
}
.about-main{
    
    padding: 150px 30px;
    background-color: #FFFFFF;
    padding-left: 50px;
    padding-right: 50px;
    gap: 1rem;
}
.about-main-text h1 {
    font-size: 4rem;
    font-weight: 600;
}
.about-main-text h2 {
    font-size: 1.25rem;
    font-weight: 700;
}
.about-main-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
}
.about-main-text span{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
}
.about-main-text {
    /* padding-top: 300px; */
    text-align: center;
}
.about-main-text p{
    font-size: 1.25rem;
    margin: 1.5rem 0 2.4rem;
}
.services{
    padding: 50px;
    background: #FBFBFB;
    }
.services-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    text-align: center;
    font-size: 3rem;
    color: #2f2f2f;
}
.services-container2 img {
    width: 300px;
    height: 250px;
}
.partnersab{
    padding: 50px;
    background: #FBFBFB;
    }
.partners-containerab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    color: #2f2f2f;
}
.partners-containerab img {
    width: 150px;
}